body{
    background-image: url("https://thumbs.dreamstime.com/b/close-up-fine-white-sand-dunes-soft-shadows-natural-wavy-patterns-create-tranquil-zen-background-design-projects-411775553.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(219, 7, 7);
    text-shadow: 1px solid black;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}

p{
    font-size: 30px;
    padding: 30px;
}

label{
    font-size: 25px;
}

input{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
}

#button{
    width: 60px;
    height: 25px;
    border-radius: 7px;
}

#fp{
    padding-right: 30px;
    font-size: 20px;
}

#nu{
    padding-left: 30px;
    font-size: 20px;
}